<div id="filter-catalog-software">

  <div id="filter-categories-option">
    <div id="filter-categories-catalog"><h4> <%= _("Categories") %> </h4></div>
    <div id="group-categories">
      <ul>
        <% @categories.each do |category| %>
        <li>
          <%= check_box_tag("selected_categories_id[]", category.id, @selected_categories_id.include?(category.id), :class => "categories-catalog", @enabled_check_box[category] => "true") %>
          <span><%= _("#{category.name}") %></span>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div id="filter-option-catalog-software"><%= _("More options") %></div>
  <div id="filter-option-catalog-close">
    <%= button_tag _("Clean up"), :id => "cleanup-filter-catalg", :type => "button" %>
    <%= button_tag _("Close"), :id => "close-filter-catalog", :type => "button" %>
  </div>
