<div>
  <div class='search-form'>
    <h3> <%= _("Search Public Software Catalog") %> </h3>

    <%= form_tag( { :controller => 'search', :action => @asset ? @asset : 'index', :asset => nil, :category_path => ( @category ? @category.path : nil ) },
      :method => 'get') do %>

      <div style="margin:0;padding:0;display:inline">
      <input name="utf8" type="hidden" value="&#x2713;" /></div>

      <%= hidden_field_tag :display, params[:display] %>
      <%= hidden_field_tag :filter, params[:filter] %>

      <%= labelled_radio_button _('Public Software'), :software_type, 'public_software', @public_software_selected, :id => "public_software_radio_button", :class => "project-software" %>
      <span class="doubts-catalog-software" title="<%= _('Projects that have passed by the Avalia SPB process according to the requirements of IN 01/2011.') %>">?</span>
      <!-- Projetos que passaram pelo processo do Avalia SPB de acordo com os requisitos da IN 01/2011. -->

      <%= labelled_radio_button _('All'), :software_type, 'all', @all_selected, :id => "all_radio_button", :class => "project-software" %>
      <span class="doubts-catalog-software" title="<%= _('Projects included in the portal as cases provided by the IN 01/2011.') %>">?</span>
      <!-- Projetos incluídos no portal, conforme casos previstos na IN 01/2011. -->

      <div class="search-field">
        <span class="formfield">
          <%= text_field_tag 'query', @query, :id => 'search-input', :size => 50, :placeholder=>_("Type words about the software you're looking for (the search begins after 3 characters)") %>
        </span>

      <%= submit_button(:search, _('Filter')) %>
      </div>
    <%= render :partial => 'search_form_extra_fields' %>
    <%= render :partial => 'catalog_filter' %>
    <% end %>
  </div>

  <div id="catalog-display-options">
    <div id="catalog-display-options-count">
      <strong id="software-count"><%= "#{@software_count} Software(s)" %></strong>
    </div>

    <div id="catalog-display-options-show-and-sort">
      <div id="catalog-display-options-show">
        Show:
        <%= select_tag("software_display",
          options_for_select(['15', '30', '90', 'All'], :selected=>params[:display])
          ) %>
      </div>

      <div id="catalog-display-options-sort">
        Sort by:
        <%= select_tag("sort",
          options_for_select(
            [
              [_("Name A-Z"), 'asc'],
              [_("Name Z-A"), 'desc'],
              [_("Relevance"), 'relevance']
              ], :selected=>params[:sort])
              ) %>
      </div>
    </div>
  </div>
</div>

<% if @empty_query %>
  <% hint = environment.search_hints[@asset] %>
  <% if hint and !hint.blank? %>
    <div class="search-hint"><%= hint %></div>
  <% end %>
<% end %>
